body
  section#cubeContainer(data-0="opacity:0",data-100="opacity:1")
    #box(data-0="transform:translateZ(450px) rotateY(90deg);", data-1000="transform:translateZ(664px) rotateY(90deg)")
      //figure.front 0
      figure.right 2
      figure.left 3
      figure.top 4
      figure.bottom 5
      figure.back 1