!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")

    title= title
    
    link(rel='stylesheet', href='css/master.css')
  != content

    //- add other scripts through require.js, not here
    script(type="text/javascript", src="js/skrollr/src/skrollr.js")
    script(type="text/javascript").
      var s = skrollr.init();